[run]
source = src/
omit =
    src/gui/*
    src/tools/proxy/*
    src/platforms/*

[report]
fail_under = 30
show_missing = true
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
    \.\.\.
